.edit {
  .top {
    display: flex;
    .logo {
      .single-uploader {
        width: 125px
      }
      label {
        display: none;
      }
    }
    .name {
      width: 100%;
      margin-left: 1em;
    }
  }
}