@import 'list';
@import 'show';
@import 'edit';
@import 'member';
@import 'setting';
@import 'ratingRule';
@import 'ratingDistribution';

h1 {
  em {
    color: $c-font-dim;
    font-size: 72%;
  }
}

.inline {
  display: inline;
}
